.btn-remove {
  cursor: pointer;
  background-color: transparent;
  border: unset;
}

.cart-area {
  max-height: 80vh;
  overflow-y: auto;
}

.btn-count {
  all: unset;
  border-radius: 5px;
  border: 1px solid rgb(254,124,126);;
  color: #2b2b2b;
  display: block;
  padding: 3px 10px;
  cursor: pointer;
}
