.product {
  &:hover {
    .heart {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .heart {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99;
    font-size: 40px;
    color: rgb(254,124,126);;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
  }
}
